body {
  margin: 0;
}
.landing {
  background-color: #203004;
  display: flex;
  justify-content: space-between;
  padding: 55px;
  color: white;
}
.landing-food-img {
  width: 40%;
  height: auto;
  align-self: flex-start;
}

.vertical-text {
  writing-mode:sideways-rl;
}
.horizontal-line {
  width: 1px;
  height: 25px;
  border-left: 1px solid white;
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.explore-container {
  display: inline-flex;
  position: relative;
}

.plated-images {
  position: absolute;
  bottom: 0px;
  left: 48%;
}
.plated-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

/* FONT STYLES */
.fs-title {
  font-size: 4.5em;
}
.sans-serif {
  font-family: "Arial", sans-serif;
}
.fs-small {
  font-size: 0.75em;
}

/* PADDING STYLES */
.ptb-30 {
  padding: 30px 0px;
}

.download {
  padding: 40px;
}
.inner-download-bg {
  background-color: #fff5e1;
  display: flex;
  flex-wrap: nowrap;
}
.download-info {
  width: 50%;
}

.overlaid-phone-mockup {
  position: relative;
  /* right: 200px; */
}
